body {
    font-family: Calibri, Helvetica, sans-serif;
}

.container {
    background-color: lightblue;

}

div {

    padding: 4px;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

#myInput {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
}

#employee-table {
    font-size: 16px;
}

#employee-table th,
td {
    text-align: left;
    padding: 5px;
}